<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256147886499-hko31e5ve9gcvk5e9n0lq7jpuakie4n3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256147886499-hko31e5ve9gcvk5e9n0lq7jpuakie4n3</string>
	<key>API_KEY</key>
	<string>AIzaSyAyS6YPtUaHJ5ycYAgGf-if1iiJubKH6AM</string>
	<key>GCM_SENDER_ID</key>
	<string>256147886499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IngaBrandsnes.ios-tasks-app</string>
	<key>PROJECT_ID</key>
	<string>ios-tasks-app-56e56</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-tasks-app-56e56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256147886499:ios:4542de75fe6f5f05060a16</string>
</dict>
</plist>